.main-container {
    background-color: #fed9ff;
    width: 100vw;
    height: 150vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-flow: column wrap;
}
.header {
    background-color: #50ce16;
    width: 100vw;
    height: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.logo {
    background-color: #9d15a1;
    width: 30%;
    height: 30%;
}
.logo-text {
    background-color: #4e1550;
    width: 30%;
    height: 40%;
}
.explore {
    background-color: #9d15a1;
    width: 30%;
    height: 30%;
}
.explore-pics {
    background-color: #4e1550;
    width: 70%;
    height: 60%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}
.explore-item {
    background-color: #9d15a1;
    width: 30%;
    height: 30%;
}
.middle {
    background-color: #9d15a1;
    width: 100vw;
    height: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.vertical-stroke-container {
    background-color: #810e13;
    width: 25%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.footer {
    background-color: #110a11;
    width: 100vw;
    height: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
svg#chart {
    background: lightgray;
    width: 25%;
    height: 100%;
}
#chart line {stroke: #555555; stroke-width:4}