

<div class="main-container">
  <div class="header">
    <div class="logo"></div>
    <div class="logo-text"></div>
  </div>
  <div class="middle">
    <div class="vertical-stroke-container layout-row layout-align-center-center">
      <!-- <svg id="chart" >
        <line x1="20" y1="20" x2="20" y2="130"></line>
      </svg> -->
    </div>
  </div>
  <div class="footer">
    <div class="explore"></div>
    <div class="explore-pics">
      <div class="explore-item">
      
      </div>
      <div class="explore-item">
      
      </div>
      <div class="explore-item">
      
      </div>
    </div>
  </div>
</div>